.flex {
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25rem;
  margin: auto;
}
.background{
  align-items: center;
  text-align: center;
  background-color: #D5EAF2;
}

.main_padding {
  padding: 2rem;
}

.mr2 {
  margin: 2rem;
}

.mr_auto {
  margin: auto;
}

.link{
  text-decoration: none;
  color: black;
}

.category{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.base-blue{
  width: 100%;
  background: #CCECFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bannerStyle{
    width: 25rem;
    height: 14.06rem;
    object-fit: contain;
    border-top: 0.1rem solid #3A2A38;
    border-bottom: 0.1rem solid #3A2A38;
}