.flex {
  display: flex;
  justify-content: center;
}

.center{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25rem;
  margin: auto;
}
.background{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #D5EAF2;
  min-height: 100vh;
}

.main_padding {
  padding: 2rem;
}

.mr2 {
  margin: 2rem;
}

.mr_auto {
  margin: auto;
}

.link{
  text-decoration: none;
  color: black;
}

.category{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.base-blue{
  width: 100%;
  background: #CCECFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.bannerStyle{
    width: 25rem;
    height: 14.06rem;
    object-fit: contain;
    border-top: 0.1rem solid #3A2A38;
    border-bottom: 0.1rem solid #3A2A38;
}

.btn{

}

.btn:hover{
  cursor: pointer;
}

.p2{
  padding: 2rem;
}

.pb1 {
  padding-bottom: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.mb2{
  margin-bottom: 2rem;
}

.no-border{
  border-width: 0;
  background-color: #CCECFF;
}
.search{
  display: flex;
  width: 100%;
}

.width{
  width:100%;
}

input:focus {
  outline: none;
}
.bannerStyle2{
  border-top: 0.1rem solid black;
}
.bannerStyle3{
  border-bottom: 0.1rem solid black;
}
.test-image{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
.mr1{
  margin:0.5rem;
}
.text-center{
  display: grid;
  align-items: center;
  width:100%
}
.image-size{
  width: 3rem;
  height: 3rem;
}
.user-info-size{
  width: 10rem;
  height: 10rem;
  object-fit: contain;
}