.flex {
  display: flex;
  justify-content: center;
}
.flex2 {
  display: flex;
  justify-content: left;
}
.flex3 {
  display: flex;
  justify-content: right;
}

.center{
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 25rem;
  margin: auto;
}
.background{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #D5EAF2;
  min-height: 100vh;
}

.main_padding {
  padding: 1rem;
}
.pl1{
  padding-left: 3rem;
}
.pt1{
  padding-top: 1.5rem;
}
.pt2{
  padding-top: 2rem;
}
.mr2 {
  margin: 2rem;
}

.mr3 {
  margin-right: 1.5rem;
}
.mr_auto {
  margin: auto;
}

.link {
  text-decoration: none;
  color: black;
  position: relative;
  display: inline-block;
}

.category{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.categoryBorder{
  border-bottom: 0.05rem solid #ACD1E8;
}
.base-blue{
  background: #CCECFF;
}
/* Rectangle 22 */
.base-blue2{
  background: rgba(56, 155, 215, 0.15);
}

.bannerStyle{
    width: 25rem;
    height: 14.06rem;
    object-fit: contain;
}

.btn{

}

.btn:hover{
  cursor: pointer;
}

.p2{
  padding: 2rem;
}

.pb1 {
  padding-bottom: 0.7rem;
}

.pb2 {
  padding-bottom: 2rem;
}
.pb3 {
  padding-top: 0.7rem;
}
.p3 {
  padding: 6rem;
}
.mb2{
  margin-bottom: 2rem;
}

.no-border{
  border-width: 0;
  background-color: #CCECFF;
}
.search{
  display: flex;
  width: 100%;
}

.width{
  width:100%;
}
input:focus {
  outline: none;
}
.bannerStyle2{
  border-top: 0.07rem solid #EDEAEA;
}
.bannerStyle3{
  border-bottom: 0.1rem solid #EDEAEA;
}
.test-image{
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}
.mr1{
  margin:0.5rem;
}
.mr4{
  margin:0.3rem;
}
.mr5{
  margin-top:0.3rem;
  margin-bottom: 0.3rem;
  margin-left:1.5rem;
}
.ml1{
  margin-left:0.5rem;
}
.text-center{
  display: grid;
  align-items: center;
  width:100%
}
.image-size{
  width: 3rem;
  height: 3rem;
}
.image-size2{
  width: 2rem;
  height: 2rem;
}
.user-info-size{
  width: 7rem;
  height: 7rem;
  object-fit: contain;
}

.selectCategory{
  font-family: "Pretendard-Bold";
  text-decoration-left:  underline;
  text-decoration-color: black;
}

.selectCategory::after {
  content: '';
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #389BD7;
}

.selectCategory2{
  display: inline-block;
  font-family: "Pretendard-Bold";
  text-decoration-left:  underline;
  text-decoration-color: black;
  box-shadow: inset 0 -0.1rem 0 #EDEAEA;
  padding-bottom: 0.1rem;
}
.selectCategory3{
  display: inline-block;
  font-family: "Pretendard-Bold";
  text-decoration-left:  underline;
  text-decoration-color: black;
  box-shadow: inset 0 -0.2rem 0 #389BD7;
  padding-bottom: 0.2rem;
}

.toggle-switch {
  width: 4.3rem;
  height: 2rem;
  background-color: #e0e0e0;
  border-radius: 1.875rem;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.toggled {
  background-color: #e0e0e0;
}

.toggle-knob {
  position: absolute;
  transition: left 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-switch.toggled .toggle-knob {
  left: 0.5rem;
}

.toggle-knob img {
  margin-top:0.2rem;
  margin-left:0.2rem ;
  width: 1.625rem;
  height: 1.625rem;
}

.hidden {
  visibility: hidden;
}
.hidden2 {
  display: none;
}
.chat-container {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.character-logo {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.character-logo2 {
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}

.speech-bubble {
  position: relative;
  background: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 70%;
  max-width: 70%;
}

.speech-bubble::after {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-right-color: #f0f0f0;
  border-left: 0;
}
.speech-bubble2 {
  position: relative;
  background: #f0f0f0;
  border-radius: 0.5rem;
  padding: 1rem;
  min-width: 70%;
  max-width: 70%;
}

.speech-bubble2::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -0.5rem;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border: 0.5rem solid transparent;
  border-left-color: #f0f0f0;
  border-right: 0;
}
.chat-container.reverse {
  flex-direction: row-reverse;
}

.hashtag{
  width:6rem;
  height: 2.5rem;
  background-color: #CCECFF;
  border-radius: 1rem;
  align-items: center;
  text-align: center;
}
.slider-container {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 1.5s ease;
}

.slide {
  min-width: 100%;
  padding-bottom:2rem;
  padding-top:1.5rem;
  padding-left:3rem;
  padding-right: 3rem;
  text-align: center; /*글씨중앙정렬*/
  box-sizing: border-box;
  color:white;
}

.progress-bar {
  height: 0.2rem;
  background-color: #ddd;
  position: absolute;
  bottom: 0.2rem;
  width: 70%;
  display: flex;
}

.progress-segment {
  height: 100%;
  background-color: #555;
  transition: background-color 0.2s;
}

.progress-segment.active {
  background-color: #ddd;
}

.slide-counter {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.8rem;
  color: white;
}
.text-left{
  text-align: left;
}
.text-color{
  color: #CCECFF;
}
.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
}

.slider-buttons button {
  background-color: rgba(0, 0, 0, 0.0001);
  color: white;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}
.text-color2{
  color: #6F6E6E;
  font-size: 0.9rem;
}
.text-color3{
  font-size: 0.9rem;
  color: #0288D1;
}
.topic-background{
  background: linear-gradient(0deg, #000000 2.5%, rgba(0, 0, 0, 0.790825) 25.38%, rgba(0, 0, 0, 0.749507) 49.23%, #FFF9DF 100%);
}
.scroll-container {
  padding-top: 2rem;
}
.superfluity{
  padding-top: 1rem;
  padding-bottom: 19rem;
}
.mr6{
  margin-right:1rem;
  margin-left:1rem;
}
/*.sticky-header {*/
/*  position: sticky;*/
/*  top: 0;*/
/*  z-index: 1000;*/
/*  background: white;*/
/*}*/
.font1{
  font-family: "Pretendard-SemiBold";
  text-decoration-left:  underline;
  text-decoration-color: black;
  font-size: 0.85rem;
}
.font2{
  font-family: "Pretendard-Bold";
}
.stretched-text{
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  line-height: 1.3em;
}

